<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MsSqlDbConnection" 
         connectionString="Server=.;initial catalog=DbTransTest;max pool size=10;Connection Timeout=5;Integrated Security=false;User Id=sa;Password=Abc123def!;" 
         providerName="System.Data.SqlClient" />
    <add name="PostgresDbConnection" 
         connectionString="Server=postgres-db;Port=5432;Database=postgres;Maximum Pool Size=10;Timeout=5;User Id=postgres;Password=secret;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="db" value="Postgres"/>
    <!-- <add key="db" value="Postgres"/> -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>